build
binary/Temp_Pack
**/binary/Temp_Pack

binary/Pack
**/binary/Pack
._**
*.o
*.d
*.obj
*.lib
*.pdb
*.pch
*.ipch
*.pyc
*.ilk
*.exp
*.def
*.idb
*.aps
*.tlog
*.log
*.autosave
*.user
*.rdc
#Visual Studio generated binaries
*.ncb
*.suo
*.sdf
*.opensdf
#Various IDE projects
*workspacedata
.DS_Store
*.bsc
**/msvc/packages
**/msvc/packages.config
*.vspx
**/.vscode
*.VC.db
assert.log
*.CHM
*.svn**
**~
/obj
/lib
/prj/android_fastbuild/**
/prj/vs**
/prj/xcode4/**
/Scripts/premake5**