[submodule "Externals/libimobiledevice"]
	path = Externals/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice
	branch = master
[submodule "Externals/libusbmuxd"]
	path = Externals/libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd
	branch = master
[submodule "Externals/libimobiledevice-glue"]
	path = Externals/libimobiledevice-glue
	url = https://github.com/libimobiledevice/libimobiledevice-glue
	branch = master
[submodule "Externals/libplist"]
	path = Externals/libplist
	url = https://github.com/libimobiledevice/libplist
	branch = master
[submodule "Externals/openssl"]
	path = Externals/openssl
	url = https://github.com/openssl/openssl
	branch = OpenSSL_1_1_1m
