version: 2.1
orbs:
  win: circleci/windows@5.0
jobs:
  Windows x64:
    executor:
      name: win/default
      size: large
    steps:
      - run:
          name: LFS Install
          command: git lfs install
      - checkout
      - run:
          name: Qt Install
          command: |
            python -m pip install --upgrade pip
            python $Env:CIRCLE_WORKING_DIRECTORY/Scripts/make.py --aqt=6.5.3
      - run:
          name: Checkout Deps
          command: python $Env:CIRCLE_WORKING_DIRECTORY/Scripts/make.py --checkout
      - run:
          name: Patch Deps
          command: python $Env:CIRCLE_WORKING_DIRECTORY/Scripts/make.py --patch
      - run:
          name: Premake
          command: python $Env:CIRCLE_WORKING_DIRECTORY/Scripts/make.py --premake
      - run:
          name: Build
          command: python $Env:CIRCLE_WORKING_DIRECTORY/Scripts/make.py --aqt=6.5.3 --build
      - run:
          name: Archive
          command: |
            python $Env:CIRCLE_WORKING_DIRECTORY/Scripts/make.py --aqt=6.5.3 --archive
            mkdir Archive
            xcopy *.zip Archive\
      - store_artifacts:
          path: ./Archive
          
  Linux x64:
    machine:
      image: ubuntu-2004:current
    resource_class: large
    steps:
      - run:
          name: LFS Install
          command: |
            sudo apt install -y git-lfs
            git lfs install
      - checkout
      - run:
          name: Qt Install
          command: |
            sudo apt update
            sudo apt install -y p7zip-full libgl1-mesa-dev
            python3 -m pip install --upgrade pip
            python3 $CIRCLE_WORKING_DIRECTORY/Scripts/make.py --aqt=6.5.3
      - run:
          name: Checkout Deps
          command: python3 $CIRCLE_WORKING_DIRECTORY/Scripts/make.py --checkout
      - run:
          name: Patch Deps
          command: python3 $CIRCLE_WORKING_DIRECTORY/Scripts/make.py --patch
      - run:
          name: Premake
          command: python3 $CIRCLE_WORKING_DIRECTORY/Scripts/make.py --premake
      - run:
          name: Build
          command: python3 $CIRCLE_WORKING_DIRECTORY/Scripts/make.py --aqt=6.5.3 --build

workflows:
  Nightly:
    jobs:
      - Windows x64:
          filters:
            branches:
              only: main
            tags:
              only: /.*/
      - Linux x64:
          filters:
            branches:
              only: main
            tags:
              only: /.*/
