name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Python check
      run: python -V

    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '6.2.1'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_mingw81'
        install-deps: 'true'
        setup-python: 'false'
        tools: 'tools_mingw'
        
    - name: Checkout Project
      uses: actions/checkout@v3
        
    - name: Check Qt
      run: |
        cd ..\Qt\
        dir
        cd 6.2.1
        Get-ChildItem -Recurse -Directory
