name: Cross-Platform Nightly CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  QT_VERSION: 6.5.3
  SOURCE_DIR: ${{ github.workspace }}
  ARCHIVE_NAME: nightly-build

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-20.04]
        include:
          - os: windows-latest
            archive_suffix: windows
          - os: ubuntu-20.04
            archive_suffix: linux
    runs-on: ${{ matrix.os }}
    steps:
    - name: Python check
      run: python -V
        
    - name: Checkout Project
      uses: actions/checkout@v3
      with:
        lfs: 'true'
        submodules: 'recursive'
        
    - name: Checkout Dependencies
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --checkout
        
    - name: Apply Patches
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --patch
        
    - name: Generate Project by Premake
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --premake
        
    - name: Install Qt
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --aqt=${{ env.QT_VERSION }}
        
    - name: Build Application
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --build --aqt=${{ env.QT_VERSION }}
              
    - name: Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARCHIVE_NAME }}-${{ matrix.archive_suffix }}
        path: ${{ runner.os == 'Windows' && format('{0}/Build/Qt-windows/bin/**', github.workspace) || format('{0}/Build/Qt-linux/bin/**', github.workspace) }}
        if-no-files-found: error
        compression-level: 9
        

