name: Windows Nightly CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  QT_VERSION: 6.5.1
  SOURCE_DIR: ${{ github.workspace }}
  BUILD_DIR: ${{ github.workspace }}\Build\Qt-windows\bin
  ARCHIVE_NAME: nightly-build

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Python check
      run: python -V
        
    - name: Checkout Project
      uses: actions/checkout@v3
      with:
        lfs: 'true'
        submodules: 'recursive'
        
    - name: Checkout Dependencies
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --checkout
        
    - name: Apply Patches
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --patch
        
    - name: Generate Project by Premake
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --premake
        
    - name: Install Qt
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --aqt=${{ env.QT_VERSION }}
        
    - name: Build Application
      run: |
        python ${{ env.SOURCE_DIR }}/Scripts/make.py --build --aqt=${{ env.QT_VERSION }}
              
    - name: Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARCHIVE_NAME }}
        path: ${{ env.BUILD_DIR }}/**
        if-no-files-found: error
        compression-level: 9
        





